.github {
    margin: 0 0 48px 0;
}

.github__title {
    margin: 0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    color: #262626;
}

.github__container {
    margin: 24px 0 0 0;
    position: relative;
}

.github__input-name {
    max-width: 256px;
    margin: 0 0 2px 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.github__input {
    padding: 0 0 0 12px;
    width: 256px;
    height: 40px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.github__input:hover {
    border: 1px solid #40A9FF;
}

.github__input:focus {
    border: 1px solid #40A9FF;
    box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
}

.github__input::placeholder {
    color: #BFBFBF;
}

.github__input_type_error {
    color: #F5222D;
    border: 1px solid #F5222D;
}

.github__input-error {
    position: absolute;
    top: 64px;
    left: 0;
    margin: 2px 0 0 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #F5222D;
}
