.app-form {
    margin: 62px 16px 48px 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.app-form__title {
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 38px;
    color: #262626;
}

.app-form__checkbox-container {
    display: flex;
    align-items: center;
}

.app-form__checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #D9D9D9;
    margin: 0 8px 0 0;
    outline: none;
    cursor: pointer;
}

.app-form__checkbox:hover {
    opacity: 0.7;
    transition: ease .3s;
}

.app-form__checkbox-title {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.app-form__checkbox-button {
    color: #1890FF;
    text-decoration: underline;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;
}

.app-form__checkbox-button:hover {
    color: #40A9FF;
    transition: ease .3s;
}

.app-form__submit-button {
    margin: 40px 0 0 0;
    background-color: #1890FF;
    width: 100%;
    height: 42px;
    color: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
}

.app-form__submit-button:hover {
    background-color: #40A9FF;
    transition: ease .3s;
}

.app-form__submit-button:active {
    background-color: #096DD9;
}

.app-form__submit-button_type_disabled:not(.nohover) {
    background-color: #E8E8E8;
    border: 1px solid #D9D9D9;
    color: #BCBCBC;
    cursor: default;
}

@media screen and (min-width: 1100px) {
    .app-form {
        margin: 120px 256px 88px 256px;
    }
}

@media screen and (min-width: 620px) {
    .app-form__title {
        font-weight: 600;
    }
}

@media screen and (min-width: 620px) {
    .app-form__submit-button {
        margin: 48px 0 0 0;
        width: 359px;
        height: 40px;
    }
}